*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

.landing-page {
  padding-top: 10rem;
  background: url("../public/img/logo.jpg") center center no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
  min-width: 100%;

}

.header-text h1{
  font-weight: 600;
  font-size: 3rem;
  color: white;
}

.header-text p{
  font-weight:500;
  font-size: 1.3rem;
  color: white;
}

.form {

   width: 50%;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: inherit;
  text-align: center;
}

/*.form button {
  margin: 0 auto;
}*/

.b-3 {
  /*margin: 0 auto;*/
  margin-top: 10px;
}

.form2 {

   width: 50%;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  /*background: url("../public/img/net.jpg") center center no-repeat;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: inherit;
  text-align: center;
  
}

/*.form2{
  display: block;
}*/

.login-page {
  /*padding-top: 10rem;*/
  background: darkgrey;
  display: block;
  background: url("../public/img/tech.jpg") center center no-repeat;
  /*background-size: inherit;*/
  /*padding-bottom: 10rem;*/

}

.form3 {

   width: 50%;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: inherit;
  text-align: center;
  background: darkgrey;
}

.form4 {

   width: 50%;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: inherit;
  text-align: center;
  background: darkgrey;
}

.img1 {

  width: 50%;
  height: 50%;
}

.img2 {
   width: 50%;
  height: 50%;
  padding-top: 8%;
  padding-bottom: 10%;
  align-content: center;
}

.img3 {
   width: 50%;
  height: 50%;
  padding-top: 4%;
  padding-bottom: 10%;
  align-content: center;
}

.bgcon {
  /*background: dark;*/
  background-color: dark;
}

.len {
  justify-content: inherit;
}

.margin-left {
    margin-left: 8px !important;
}

.bgimage {

  width: 50%;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  background: url("../public/img/tech.jpg") center center no-repeat;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: inherit;
  text-align: center;
  color: white;

}

.bgimage2 {

  width: 50%;
  padding: 12px 20px;
  margin: 0 auto;
  display: block;
  background: url("../public/img/tech.jpg") center center no-repeat;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: inherit;
  text-align: center;
  color: white;

}

/*.container {

  background: darkgrey;
  display: block;
}

*/

.text-muted {
  color: white;
}

.bgproducts {
    background: url("../public/img/tech.jpg") center center no-repeat;
    margin-top: -4%;
    /*color: white;*/
}

.bg {
  background: url("../public/img/tech.jpg") center center no-repeat;
  color: white;
  margin: 0 auto;
  /*padding-top: 2%;*/
  padding-bottom: 3%;
  min-height: 100%;
  min-width: 100%;
}


.p-3 {
  align-content: center;
}

.regfoot {
  padding-top: 50%;
}

.mt-3 {
  margin-top: 2%;
}

.mt-2 {
  color: white;
}


.bg2 {

    background: url("../public/img/tech.jpg") center center no-repeat;
}


